/* Nothing here yet, (This file is waiting your customizations) */



body {
    width: 100%;
}

article {
    margin-left: 5%;
    margin-right: 5%;
}

.nist-header a:link {
    background: #000;
}

.nist-footer {
    width: 100%;
    background-color: #333;
}

.nist-footer ul {
    width: 100%;
}

.nist-footer a:link {
    background: #333;
}

.nist-footer a {
    text-shadow: none;
}

.brand {
    text-align: center;
}

nav.menu ul {
    max-width: 100%;
    width: 100%;
}

header.brand h1, h2 {
    line-height: 1.25;
}

header.brand hr {
    margin:auto;
    width:100%;
}

h1.content-title {
    font-size: 3rem;
}
