/* Nothing here yet, (This file is waiting your customizations) */


#nistfootergoeshere a:link {
    text-shadow: none;
}

#nistfootergoeshere footer,div,ul {
    width: 100%;
}

body {
    width: 100%;
}

article {
    margin-left: 5%;
    margin-right: 5%;
}

.brand {
    margin-left: 0;
}

header {
    margin: 5;
}

.brand {
    text-align: center;
}

nav.menu ul {
    max-width: 100%;
    width: 100%;
}

header.brand hr {
    margin:auto;
    width:100%;
}